@import '_variables';

@import 'navStyle';
@import 'custom';


@font-face {
    font-family: 'ATHENIAN';
    src: url(../fonts/ATHENIAN.ttf);
  }
@font-face {
    font-family: 'Brockley-Regular';
    src: url(../fonts/BrockleyRegular.ttf);
}
@font-face {
    font-family: 'DroidSerif-Bold';
    src: url(../fonts/DroidSerif-Bold.ttf);
}
@font-face {
    font-family: 'DroidSerif-BoldItalic';
    src: url(../fonts/DroidSerif-BoldItalic.ttf);
}
@font-face {
    font-family: 'DroidSerif-Italic';
    src: url(../fonts/DroidSerif-Italic.ttf);
}
@font-face {
    font-family: 'DroidSerif-Regular';
    src: url(../fonts/DroidSerif-Regular.ttf);
}
@font-face {
    font-family: 'Raleway-Italic';
    src: url(../fonts/Raleway-Italic.ttf);
}
@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway.ttf);
}

@font-face {
    font-family: 'South-Amsterdam';
    src: url(../fonts/SouthAmsterdamDemo.ttf);
}


